/* body{
    margin: 0;
} */

/* nav{
    background-color: rgb(255,255,255);
} */

/* .container{
   margin: 0 auto;  
    max-width: 1140px;
}
.left{
    word-spacing: 20px;
    font-size: 20px;
    display: flex;
    justify-content: end;
}

.fixed{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
} */

/* nav .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    text-align: end;
} */

/* .img1{
    display: flex;
    flex-direction: row;
    justify-content: start;
} */